/* Login Css  */
.container {
  width: 400px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.container h1{
display: flex;
justify-content: center;
color: #1b2433 ;
font-family: kings-caslon, Georgia, Cambria, Times New Roman, Times, serif;
margin: 10px;
font-size: 2rem;
}
  
.form-group {
margin-bottom: 20px;
}

label {
display: block;
margin-bottom: 5px;
margin-top: 10px;
color: #1b2433 ;
}

input {
width: 100%;
padding: 8px;
margin-bottom: 5px;
border: 1px solid #ccc;
border-radius: 4px;
}

.input::placeholder {
color: #999; /* Placeholder text color */
font-style: italic; /* Placeholder text style */
opacity: 1;
}

.field-error {
color: red;
font-size: 14px;
}

button {
width: 100%;
padding: 10px;
background-color: #007bff;
color: white;
border: none;
border-radius: 4px;
cursor: pointer;
font-weight: bold;
margin-top:5px;
margin-bottom:5px
}
.button-container {
display: flex;
justify-content: center;
align-items: center;
margin: 10px;

}

button:disabled {
background-color: #ccc;
}

a {
color: #007bff;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

.required {
color: red; /* Change color as needed */
margin-right: 4px; /* Adjust spacing as needed */
}

.passwordError {
margin-top: 5px;
margin-bottom: 10px;
/* padding: 10px;
background-color: #ffeeee; 
border: 1px solid #ffaaaa; 
border-radius: 4px;  */
color: red;
}
.passwordError p {
margin-bottom: 5px;
/* font-weight: bold; */
}

.passwordError ul {
list-style-type: disc; /* Bullet points */
margin-left: 20px; /* Indentation */
}

.passwordError li {
margin-bottom: 5px;
}

/* Add animation to form fields */
.input {
transition: border-color 0.3s ease;
}

.input.error {
border-color: #ff4d4f; /* Change border color for error */
}

/* Add animation to error messages */
.fieldError {
color: #ff4d4f;
font-size: 0;
animation: fadeIn 0.3s ease forwards;
}

.input.fieldError {
border-color: #ff4d4f; /* Example: Red border */
}


@keyframes fadeIn {
from {
  opacity: 0;
  font-size: 0;
}
to {
  opacity: 1;
  font-size: 14px;
}
}
/*Dashboard css*/
/* styles.css */

.dashboard-container {
display: flex;
}

.content {
flex: 1;
padding: 20px;
}

.navbar {
padding: 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: white;
}

.navbar a {
color: white;
text-decoration: none;
margin: 0 10px;
}

.profile-icon {
cursor: pointer;
}

.manage-account {
margin-top: 10px;
}

.manage-account {
display: flex;
flex-direction: column;
align-items: center;
}

.error-notification {
margin-top: 10px;
background-color: #ffcccc;
color: #ff0000;
padding: 10px;
margin-bottom: 10px;
border: 1px solid #ff0000;
border-radius: 5px;
}

.logo-container {
display: flex;
justify-content: center;
}

.dashboard-container {
  max-width: auto; /* or any preferred maximum width */
  margin-left: auto; /* Center the container horizontally */
  margin-right: auto;
  padding: 4px; /* 4 units padding on all sides */
}

.CareTeam-Container {
  background-color: #fff; /* White background */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow */
  padding: 16px; /* Padding */
  border-radius: 8px; /* Rounded corners */
  margin-bottom: 16px; /* Margin bottom */
}

.text-blue-600 {
  color: white; /* Blue color (600) */
  
}

.text-blue-600:hover,
.hover\:text-blue-600:hover {
  color: black; /* Darker blue color (700) on hover */
}

.grid-md-cols-2-gap-4 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(0, 1fr));
  gap: 1rem;
}

@media (min-width: 768px) {
  .grid-md-cols-2-gap-4 {
      grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.text-2xl-font-bold {
  font-size: 1.5rem; /* Equivalent to text-2xl in Tailwind CSS */
  font-weight: bold;
}

.text-gray-600 {
  color: #718096; /* Equivalent to text-gray-600 in Tailwind CSS */
}

/* Upcoming appointment */
/* UpcomingAppointments.css */

.upcoming-appointments {
  margin-top: 20px;
}

.upcoming-appointments h2 {
  font-size: 24px;
  margin: 20px;
}

.appointment {
  background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
}

.appointment p {
  margin: 5px 0;
}

.appointment p strong {
  font-weight: bold;
}

/* customer support.css */

.customerSupport {
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="email"],
input[type="text"],
textarea,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
textarea {
  min-height: 150px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

h3 {
  font-weight: 500;
  font-size: 16px !important;
}
/* Navbar and Footer styles can be added separately */
