.doctor-section {
  padding: 32px;
  margin: 0 0 32px 0;
  text-align: center;
  background: linear-gradient(to right, #ECF2FF, #FBFCFF);
}

.dt-title-content {
  margin: 0 0 64px 0;
}

.dt-title {
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0.7px;
  position: relative;
}

.dt-title span::before {
  content: '';
  position: absolute;
  width: 64%;
  height: 4px;
  background-color: #9D2553;
  border-radius: 8px;
  left: 0;
  bottom: -12px;
}

.dt-description {
  margin: 64px auto 0;
  text-align: center;
  color: rgb(77, 75, 75);
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  letter-spacing: 0.8px;
  line-height: 1.8rem;
}

/* Doctor Cards */
.dt-cards-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.dt-card {
  width: 300px;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.dt-card:hover {
  transform: scale(1.05);
}

.dt-card-img {
  width: 50%;
  height: 25%;
  background-position: center;
  background-color: #DDE5F8;
  border-radius: 20px 20px 0 0;
}

.dt-card-content {
  padding: 16px;
  text-align: left;
}

.dt-card-name {
  margin: 12px 0 0 0;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.7px;
}

.dt-card-title {
  margin: 6px 0 8px;
  color: #494949;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  letter-spacing: 0.7px;
}

.dt-card-description {
  margin-top: 10px;
  color: rgb(77, 75, 75);
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  letter-spacing: 0.8px;
  line-height: 1.4rem;
}

/* Responsive */
@media screen and (max-width: 700px) {
  .dt-card {
    width: 100%;
  }
}

/* Responsive */
@media screen and (max-width: 700px) {
  .dt-title {
    font-size: 32px;
  }
  .dt-description {
    margin: 48px 0 0;
    font-size: 18px;
  }

  .dt-card {
    width: 100%;
    max-width: 300px;
  }
}
